<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Information</th>
        <th>Host</th>
        <th>Streams</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events.entrySet()}">
        <td th:text="${event.key.id}">
        <td><a th:href="@{/edit_event/{id}(id=${event.key.id})}" th:text="${event.key.name}"/></td>
        <td th:text="${event.key.info}"/>
        <td th:text="${event.key.host}"/>
        <td>
            <table border = 1>
                <tr th:each="stream : ${event.value}">
                    <td th:text="${stream.name}"/>
                    <td th:text="${stream.location}"/>
                </tr>
            </table>
        <td><a th:href="@{/delete_event/{id}(id=${event.key.id})}" th:text="X"/></td>
    </tr>

    </tbody>
</table>

<p/><a th:href="@{/new_event}">Створити нову подію</a>

</body>
</html>