<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${#temporals.format(topic.scheduleStart, 'dd.MM.yyyy')}"/>
<h1 th:text="${topic.title}"/>
<h2 th:text="${topic.speaker}"/>
<p th:text="${topic.summary}"/>
<p> <span th:text="${#temporals.format(topic.scheduleStart, 'HH:mm')}"/> - <span th:text="${#temporals.format(topic.scheduleEnd, 'HH:mm')}"/></p>

<table>
    <tr th:each="question : ${topic.questions}">
        <td th:text="${question.id}"/>
        <td th:text="${question.text}"/>
        <td th:text="${question.likes}"/>
    </tr>
</table>

</body>
</html>